<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form [formGroup]="userForm" (ngSubmit)="createUser(userForm.value)">
    <div>
        <div>
          <h3 style="text-align: left; color: #E86A18">User info</h3>
        </div>
        <div>
          <fieldset>
            <div>
              <input placeholder="Name" formControlName="name" name="name" />
            </div>
            <div>
              <input placeholder="Hobbies" formControlName="hobbie" name="hobbie" />
            </div>
            <div>
                <input placeholder="Birthday" formControlName="birthday" name="birthday" />
            </div>
            <div>
                <input placeholder="Email" formControlName="email" name="email" />
            </div>
            <div>
                <input placeholder="Photo" formControlName="photo" name="photo" />
            </div>
          </fieldset>
        </div>
        <div class="row">
            <button type="submit">Create</button>
          </div>
      </div>
  </form>
</div>


